*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

ol,
ul,
dl {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  text-transform: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

a,
button,
input,
label,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #5C4033;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
  font-weight: 700;
  color: #5C4033;
}

h3 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #5C4033;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Macondo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
}

* {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #5C4033;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
  font-weight: 700;
  color: #5C4033;
}

h3 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #5C4033;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Macondo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
}

body {
  background-color: #f5f3f0;
}

.container {
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}

.links {
  font-size: 20px;
  color: #927A63;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.links:hover {
  color: #5C4033;
}

.form-links {
  font-size: 16px;
  color: #927A63;
  transition: all 0.3s ease-in-out;
}
.form-links:hover {
  color: #5C4033;
}

.search {
  background-color: #f5f3f0;
  border-radius: 0px 15px 15px 0px;
  padding: 8px 15px;
  font-size: 16px;
  color: #927A63;
  width: 100%;
  position: relative;
}
.search::-moz-placeholder {
  color: #927A63;
  opacity: 0.6;
}
.search::placeholder {
  color: #927A63;
  opacity: 0.6;
}

.search-icon {
  background-color: #f5f3f0;
  border-radius: 15px 0px 0px 15px;
  padding: 8px 0px 8px 15px;
  font-size: 16px;
  color: #927A63;
  width: 20%;
  border: none;
  margin-top: 0;
}

.img {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0%;
}
.img img {
  border-radius: 15px;
}
.img .image-layer {
  transition: opacity 0.5s ease-in-out;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
.img .image-layer h4 {
  margin-top: px;
}
.img .image-layer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .img .image-layer ul {
    justify-content: flex-end;
  }
}
.img .image-layer ul a {
  font-size: 24px;
  color: #D4AF37;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.img .image-layer ul a i {
  transition: transform 0.3s ease-in-out;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .img .image-layer ul a i {
    font-size: 24px;
  }
}
.img .image-layer ul a:hover i {
  transform: scale(1.2);
}
.img:hover .image-layer {
  opacity: 1;
}

button {
  padding: 8px 30px;
  border-radius: 10px;
  background: transparent;
  color: #927A63;
  border: 1px solid #5C4033;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  align-self: center;
  margin-top: 10px;
}
button:hover {
  background: #927A63;
  color: #5C4033;
  border: 1px solid #927A63;
}

* {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #5C4033;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
  font-weight: 700;
  color: #5C4033;
}

h3 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #5C4033;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Macondo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 35%;
  background-color: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}
.form-container form label {
  font-size: 20px;
  text-transform: capitalize;
}
.form-container form input {
  padding: 8px 15px;
  border: 1px solid #927A63;
  border-radius: 10px;
  width: 100%;
  color: #5C4033;
  margin-bottom: 10px;
}
.form-container form input:focus {
  border: 1px solid #5C4033;
}

* {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #5C4033;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
  font-weight: 700;
  color: #5C4033;
}

h3 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #5C4033;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Macondo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
}

.header {
  padding: 10px 0px;
  background-color: #e0dcc8;
}
.header .header-contant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header-contant .toggle {
  padding: 10px 20px;
  font-size: 20px;
}
.header .header-contant .nav-links-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
  align-self: flex-end;
  gap: 20px;
  flex-basis: 540px;
}
.header .header-contant .nav-links-search .search-contant {
  flex-basis: 400px;
}
.header .header-contant .nav-links-search .search-contant form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header-contant .nav-links-search .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 992px) {
  .header .header-contant .toggle {
    display: none;
  }
  .header .header-contant .nav-links-search {
    display: flex;
  }
}

* {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 40px;
  font-weight: 700;
  color: #5C4033;
}

h2 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 32px;
  font-weight: 700;
  color: #5C4033;
}

h3 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 20px;
  font-weight: 700;
  color: #5C4033;
}

h4 {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Macondo", cursive;
  font-size: 16px;
  font-weight: 400;
  color: #927A63;
}

.images {
  padding: 30px 0px;
}
.images .all-images {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.images .all-images .first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.images .all-images .first-col .col-1, .images .all-images .first-col .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.images .all-images .second-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.images .all-images .second-col .col-1, .images .all-images .second-col .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .images .all-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .images .all-images .first-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .images .all-images .second-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}/*# sourceMappingURL=style.css.map */