@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

.header{
    padding: 10px 0px;
    background-color: $header-color;
    .header-contant{
        @include flex(row,space-between,center);
        .toggle{
            padding:10px 20px; 
            font-size: $font-size-small;
        }
        .nav-links-search{
            @include flex(row,space-between,center);
            display: none;
            align-self: flex-end;
            gap: 20px;
            flex-basis: 540px;
            .search-contant{
                flex-basis: 400px;
                form{
                    @include flex(row,center,center);
                }
            }
            .nav-links{
                @include flex(row,center,center);
                gap: 20px;
            }
        }
        @media screen and (min-width:$breakpoint-lg) {
            .toggle{
                display: none;
            }
            .nav-links-search{
                display: flex;
            }
        }
    }
}