@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

body {
  background-color: $bg-color;
}
.container {
  width: 95%;
  margin: auto;
  @media screen and (min-width: $breakpoint-md) {
    width: 85%;
  }
}
.links {
  font-size: $font-size-small;
  color: $secondary-color;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  &:hover {
    color: $primary-color;
  }
}
.form-links {
  font-size: $font-size-base;
  color: $secondary-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary-color;
  }
}

.search {
  background-color: $bg-color;
  border-radius: 0px 15px 15px 0px;
  padding: 8px 15px;
  font-size: $font-size-base;
  color: $secondary-color;
  width: 100%;
  position: relative;
  &::placeholder {
    color: $secondary-color;
    opacity: 0.6;
  }
}

.search-icon{
  background-color: $bg-color;
  border-radius: 15px 0px 0px 15px;
  padding: 8px 0px 8px 15px;
  font-size: $font-size-base;
  color: $secondary-color;
  width: 20%;
  border: none ;
  margin-top: 0;
}

.img {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height:0%;
  img{
    border-radius: 15px;
  }
  .image-layer {
    transition: opacity 0.5s ease-in-out;
    padding: 15px;
    @include flex(column, space-between, space-between);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: rgba(#000, $alpha: 0.5);
    h4{
      margin-top: px
    }
    ul {
      @include flex(row,space-between);
      gap: 20px;
      @media screen and (min-width: $breakpoint-lg) {
        justify-content: flex-end;
      }
      a {
        font-size: calc($font-size-small + 4px);
        color: $icons-color;
        cursor: pointer;
        width: fit-content;
        i {
          transition: transform 0.3s ease-in-out;
          font-size: 16px;
          @media screen and (min-width: $breakpoint-lg) {
            font-size: $font-size-medium-1;
          }
        }
        &:hover {
          i {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  &:hover {
    .image-layer {
      opacity: 1;
    }
  }
}
