@import "../abstracts/variables";
@import "../base/typography";
@import "../abstracts/mixins";

.images{
    padding: 30px 0px;
    .all-images{
        margin-top:20px;
        @include flex(row,flex-start,flex-start);
        gap: 10px;
        .first-col{
            @include flex(column,flex-start,flex-start);
            gap: 10px;
            .col-1,.col-2{
                @include flex(column);
                gap: 10px
            }
        }
        .second-col{
            @include flex(column,flex-start,flex-start);
            gap: 10px;
            .col-1,.col-2{
                @include flex(column);
                gap: 10px
            } 
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .images{
        .all-images{
            @include flex(row,flex-start,flex-start);
            .first-col{
                @include flex(row,flex-start,flex-start);    
            }
            .second-col{
                @include flex(row,flex-start,flex-start);
            }
        }
    }
}