$primary-color: #5C4033;
$secondary-color: #927A63;
$icons-color :#D4AF37;
$bg-color :#f5f3f0;
$header-color :#e0dcc8;



$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$spacing-unit: 1rem;
$border-radius: 4px;
$animation-duration: 0.3s;

$theme-light: (
  primary-color: #337ab7,
  background-color: #fff,
);

$theme-dark: (
  primary-color: #fff,
  background-color: #333,
);
