@import "tailwindcss";

.base-bg{
    background-color: #F1F0E8;
}
.header-color{
    color: #688990;
}
.footer-bg{
    background-color: rgb(179, 200, 207);
    background-color: #B3C8CF;
}
.nav-links:hover{
    background-color: #688990;
    color: #B3C8CF;
 }
 .active{
    background-color: #688990;
    color: #B3C8CF;
 }
.light-text-color{
    color: #B3C8CF;
}
.bg-text{
    color: #F1F0E8;
}
.error-color{
    color: #D70654;
}
.success-color{
    color: #497D74;
}
.success-container{
    background-color: #688990;
    color: #B3C8CF;
}
.error-container{
    background-color: #7D0A0A;
    color: #c94d4d;
}
.blur-color{
    color: rgba(0,0,0,0.4);
}
.logo-font{
    font-family: "Kablammo","serif";
}
.base-font{
    font-family: "Keania One","serif";
}
.secondary-font{
    font-family: "Itim","serif";
}
.btn-submit:hover{
    background-color: #688990;
    color: #F1F0E8;
}
.btn-submit:focus{
    background-color: #688990;
    color: #F1F0E8;
}

